<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel = "stylesheet"
         href = "https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel = "stylesheet"href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  
  
  <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>	 

</head>
<body>
  <div class = "col s12 m12 l12">
    {{!-- {{#if user}} --}}
    <ul id="dropdown1" class="dropdown-content">
      <li><a href="/profile">Profile</a></li>  
      <li><a href="/signup">Sign Up Now</a></li>
      <li><a href="/login">Log In</a></li>
      <li class="divider"></li>
       <li><form action="/logout" method="POST"><button class="">Log out</button></form></li>
     {{!-- {{/if}} --}}
   {{!-- <div> <form action="/logout" method="POST"><button class="button4">Log out</button></form></div> --}}
    </ul>
<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo left">Swop.com</a>
    <ul class="right">
      <li><a href="/about">About Swop</a></li>
      <li><a href="/categories">Categories</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" href="/profile" data-activates="dropdown1">Profile<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>
         
      </div>
        
  {{{body}}}


      
      <script>
         $( document ).ready(function() {
            $(".dropdown-button").dropdown();
         });
      </script>
        
        
</body>
</html>