

<div class="container-about-page">
<p class="text-parag">Swop.com is an app for swapping items with people around you. Browse items for inspiration, upload your own, and match with others whose items you like.</p>
<img src="https://www.fashionrevolution.org/wp-content/uploads/2019/04/shutterstock_132961508-1.jpg" width="90%" height="800px">
</div>