<h2>Create a listing</h2>
<form action='/createNewListing' method="POST" enctype="multipart/form-data">
<label>Title</label>
<input name="theTitle" type="text">


<label>Price</label>
<input name="thePrice" type="text">

<label>Category</label>
<input name="theCategory" type="text">

<label>Description</label>
<input name="theDescription" type="text">
<label>Upload a pictures of your item</label>
<input type="file" name="thePic">


<button>Save</button>
</form>